@using EPiServer.Web.Routing
@model PizzeriaEpiserverSite.Models.ViewModels.BlogCategoryListViewModel


@if (Model.Pages != null)
{
    foreach (var page in Model.Pages)
    {
        <h2><a>@page.Name</a></h2>
        <p>@page.StartPublish.Value</p>
        if (@page.PageImage!= null)
        {
            <img class="blogImage" src="@UrlResolver.Current.GetUrl(page.PageImage)" />
        }
        <p>@page.MainBody</p>
        <br/>
        <hr/>
    }
}
else
{
  
}
