@model PizzeriaEpiserverSite.Models.ViewModels.BlogCategoryListViewModel

@*@foreach (var page in Model.Pages)
{
    <h2>@page.Name</h2>
}*@

@*@foreach (var category in Model.Categories)
{
    <h3>@category.Name</h3>
}*@



@foreach (var Category in Model.Categories)
{
    <a href="@Url.Action("SelectCategory", "BlogCategoryListPage", new { category = Category.Name })">@Category.Name</a>
    @*<a asp-controller="BlogCategoryListPage" asp-asction="Index" asp-route-id="Category.Name">@Category.Name</a>*@
}







@*@foreach (var Category in Model.Categories)
    {
        <a onclick="location.href=@Url.Action("Index", "BlogCategoryListPage")"?category=Category>@Category.Name</a>
    }*@









@*@if (Model.category != null)
{
    foreach (var item in Model.category)
    {
        <div class="listResult theme1">
            <h3>@Html.PageLink(item)</h3>
            <p class="date">
                @item.StartPublish.Value.ToString("d MMMM yyyy")
            </p>
            @if (item.Property["MainBody"] != null)
            {
                @item.Property["MainBody"].Value
            }
            <hr />
        </div>
    }*@
