@using EPiServer.Framework.Web.Mvc.Html
@using EPiServer.Core
@using PizzeriaEpiserverSite.Models.ViewModels
@using PizzeriaEpiserverSite.Models.Pages
@model IPageViewModel<SitePageData>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    <title>@Model.CurrentPage.Name</title>
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    @Html.RenderEPiServerQuickNavigator()
    @Html.FullRefreshPropertiesMetaData()

    <div class="container">
        <div class="row">
            <div id="header">
        
                    @{Html.RenderPartial("_NewNavigation", Model);}
        
            </div>
        </div>
        <hr />
    </div>

    <br />
    <br />
    <div class="container body-content absolute">
        @RenderBody()
        @*@{Html.RenderPartial("Footer", new FooterModel(Model.CurrentPage));}*@
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>