@using PizzeriaEpiserverSite.Helpers
@using System.Web.Hosting
@using EPiServer.Web.Routing
@model PizzeriaEpiserverSite.Models.ViewModels.BlogCategoryListViewModel

@*@{
    UnifiedFile file = HostingEnvironment.VirtualPathProvider.GetFile("PathToFile") as UnifiedFile;
    if (file != null && file.Summary.Dictionary.Contains("Description"))
    {
        string altText = file.Summary.Dictionary["Description"].ToString();
    }
}*@

@{
    var model = @Model.Pages.OrderByDescending(x => x.StartPublish);
}

@if (Model.Pages != null)
{
    <h2>- @Model.Category -</h2>
    <br/>

    foreach (var page in model)
    {
        <hr />
        <h2 ><a href="@UrlResolver.Current.GetUrl(page)">@page.Name</a></h2>
        if (@page.StartPublish.Value != null)
        {
            <p>@page.StartPublish.Value.ToString("yyyy-MM-dd")</p>
        }

        if (@page.PageImage != null)
        {
            <img class="blogImage2" alt="@Html.ImageAltText(page.PageImage)" src="@UrlResolver.Current.GetUrl(page.PageImage)" />
            <br />   <br />
        }

        @*<p>@page.MainBody</p>*@

if (@page.MainBody != null)
{
    @( @page.MainBody.ToString().Length > 100 ? @page.MainBody.ToString().Substring(3, 100) + " ..." : @page.MainBody.ToString().Substring(3, @page.MainBody.ToString().Length - 7))

}

<br /><br />

    }
}


